.movie-dashboard-image-container {
    position: relative;
}

.movie-dashboard-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 234px;
    border: ridge;
    border-radius: 5px;
    transition: 0.5s ease;
    background-color: #333;
    opacity: 0;
}

.movie-dashboard-image-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 400%);
    text-align: center;
    transition: 0.5s ease;
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #28a745;
    color: #fff;
}

.movie-dashboard-image-overlay-button:active {
    background: #fff;
    color: #28a745;
}

.movie-dashboard-image-overlay-ratings-container {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -300%);
    width: 50px;
    background: #28a745;
    border-radius: 10px;
}

.movie-dashboard-image-overlay-ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-dashboard-image-container:hover .movie-dashboard-image-overlay {
    opacity: 1;
}

.movie-dashboard-image-container:hover .movie-dashboard-image-overlay-button {
    transform: translate(-50%, 100%);
}

@media only screen and (max-width: 768px) {
    .movie-dashboard-image-overlay {
        width: 135px;
    }

    .movie-dashboard-image-overlay-button {
        font-size: 0.8rem;
        padding: 8px 10px;
    }

    .movie-dashboard-image-container:hover .movie-dashboard-image-overlay-button {
        transform: translate(-50%, 20%);
    }
}